body {
  overflow-x: hidden;
  background-color: #F0F0F0;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a {
  display: inline-block;
  transition: opacity 0.3s ease;
}
a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.container {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.sec-cta {
  position: relative;
}
.sec-cta .cta {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .sec-cta .cta {
    padding: 0 20px;
  }
}
.sec-cta .cta img {
  width: 100%;
  filter: drop-shadow(3px 3px 2px rgb(51, 51, 51));
}
.sec-cta.sec06 .cta {
  top: 84%;
}
.sec-cta.sec06 .cta img {
  filter: drop-shadow(3px 3px 2px rgb(211, 211, 211));
}
.sec-cta.sec10 .cta {
  top: 70%;
}

.accordion-item {
  width: 100%;
}
.accordion-item .accordion-header {
  cursor: pointer;
}
.accordion-item .accordion-header .btn-opened {
  display: none;
}
.accordion-item .accordion-header .btn-closed {
  display: block;
}
.accordion-item .accordion-header.is-active .btn-opened {
  display: block;
}
.accordion-item .accordion-header.is-active .btn-closed {
  display: none;
}
.accordion-item .accordion-content {
  display: none;
  overflow: hidden;
}
.accordion-item .accordion-content .sec10-item-open {
  position: relative;
  width: 100%;
}
.accordion-item .accordion-content .sec10-item-open img {
  width: 100%;
  display: block;
}
.accordion-item .accordion-content .sec10-item-open iframe {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 70px);
  max-width: 440px;
  aspect-ratio: 28/15;
  height: auto;
  border: none;
}
@media screen and (max-width: 768px) {
  .accordion-item .accordion-content .sec10-item-open iframe {
    max-width: 658px;
    max-height: 353px;
  }
}

.sec05 {
  background-color: #3e4d54;
}
.sec05 .slick {
  padding: 0 35px;
}
.sec05 .slick .slider .prev-arrow {
  height: 15px;
  width: 15px;
  border-bottom: 2px solid #e6877f;
  border-left: 2px solid #e6877f;
  position: absolute;
  top: 30%;
  left: -10px;
  transform: translateY(-50%) rotate(45deg);
  z-index: 10;
  cursor: pointer;
}
.sec05 .slick .slider .next-arrow {
  height: 15px;
  width: 15px;
  border-bottom: 2px solid #e6877f;
  border-left: 2px solid #e6877f;
  position: absolute;
  top: 30%;
  right: -10px;
  transform: translateY(-50%) rotate(225deg);
  z-index: 10;
  cursor: pointer;
}
.sec05 .slick .slider .slick-dots {
  bottom: -20px;
}
.sec05 .slick .slider .slick-dots li {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sec05 .slick .slider .slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999999;
  opacity: 1;
}
.sec05 .slick .slider .slick-dots li.slick-active button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e6877f;
  opacity: 1;
}
.sec05 .slick .slider .slick-dots .slick-active::before {
  content: "";
  width: 50px;
  height: 5px;
  background: #333;
  opacity: 1;
}

.sec07 {
  background-color: #3e4d54;
}
.sec07 .sec07-studio {
  padding: 0 15px 54px 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sec07 .sec07-studio .sec07-item .accordion-content .sec07-item-open {
  position: relative;
}
.sec07 .sec07-studio .sec07-item .accordion-content .sec07-item-open iframe {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  aspect-ratio: 310/143;
  height: auto;
  border: none;
}
@media screen and (max-width: 768px) {
  .sec07 .sec07-studio .sec07-item .accordion-content .sec07-item-open iframe {
    width: calc(100% - 90px);
  }
}
@media screen and (max-width: 425px) {
  .sec07 .sec07-studio .sec07-item .accordion-content .sec07-item-open iframe {
    width: calc(100% - 50px);
  }
}

footer .container .fixedbtn {
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 550px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  footer .container .fixedbtn {
    max-width: 768px;
  }
}/*# sourceMappingURL=style.css.map */